# IntelliJ IDEA / Android Studio
*.iml
/.idea/

# Gradle files
.gradle/

# Local properties file
local.properties

# Build output directories
/build/
/captures/
/.externalNativeBuild/
/cxx/
/.kotlin

# Log files
*.log

# Release build
/app/release/

# macOS system files
.DS_Store
